<header style='padding-left: 20px;'>
  <div style='height: 50px;'>
    <a class='h3 title'>
      {{ if eq .mode "admin" }}
      {{index .localize "DepartmentRecords"}}
      {{ else if eq .mode "super" }}
      {{index .localize "AllRecords"}}
      {{ else }}
      {{index .localize "EmployeeRecords"}}
      {{ end }}
    </a>
  </div>
  <div class='toolbar'>
    {{ if ne .mode "" }}
    <div class='form-inline'>
      <div class='input-group input-group-sm' id='dept-selector'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='dept'>{{index .localize "Dept"}}</label>
        </div>
        <select class='custom-select' name='dept' id='dept'>
          <option value=''>{{index .localize "All"}}</option>
        </select>
      </div>
      <div class='input-group input-group-sm' id='empl-selector'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='empl'>{{index .localize "Name"}}</label>
        </div>
        <select class='custom-select' name='empl' id='empl'>
          <option value=''>{{index .localize "All"}}</option>
        </select>
      </div>
    </div>
    {{ end }}
    <div class='form-inline'>
      <div class='input-group input-group-sm'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='year'>{{index .localize "Year"}}</label>
        </div>
        <select class='custom-select' name='year' id='year'>
          <option value=''>{{index .localize "All"}}</option>
        </select>
      </div>
      <div class='input-group input-group-sm'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='month'>{{index .localize "Month"}}</label>
        </div>
        <select class='custom-select' name='month' id='month' disabled>
          <option value=''>{{index .localize "All"}}</option>
          <option value='01'>1</option>
          <option value='02'>2</option>
          <option value='03'>3</option>
          <option value='04'>4</option>
          <option value='05'>5</option>
          <option value='06'>6</option>
          <option value='07'>7</option>
          <option value='08'>8</option>
          <option value='09'>9</option>
          <option value='10'>10</option>
          <option value='11'>11</option>
          <option value='12'>12</option>
        </select>
      </div>
      <div class='input-group input-group-sm'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='type'>{{index .localize "Type"}}</label>
        </div>
        <select class='custom-select' name='type' id='type'>
          <option value=''>{{index .localize "All"}}</option>
          <option value='1'>{{index .localize "Overtime"}}</option>
          <option value='0'>{{index .localize "Leave"}}</option>
        </select>
      </div>
      <div class='input-group input-group-sm'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='status'>{{index .localize "Status"}}</label>
        </div>
        <select class='custom-select' name='status' id='status'>
          <option value=''>{{index .localize "All"}}</option>
          <option value='0'>{{index .localize "Unverified"}}</option>
          <option value='1'>{{index .localize "Verified"}}</option>
          <option value='2'>{{index .localize "Rejected"}}</option>
        </select>
      </div>
    </div>
    <div class='form-inline'>
      <div class='input-group input-group-sm'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='describe'>{{index .localize "Describe"}}</label>
        </div>
        <input class='form-control' name='describe' id='describe'>
      </div>
      <div class='input-group'>
        <a class='btn btn-primary btn-sm' id='filter' onclick="loadRecords('{{ .mode }}')">{{index .localize "Filter"}}</a>
        <a class='btn btn-primary btn-sm' onclick="showRecords('{{ .mode }}')">{{index .localize "Reset"}}</a>
        <a class='btn btn-info btn-sm' onclick="exportCSV('{{ .mode }}', 'records')">{{index .localize "Export"}}</a>
      </div>
    </div>
  </div>
  {{ if ne .mode "" }}
  <a class='btn btn-primary' onclick="record('{{ .mode }}')">{{index .localize "New"}}</a>
  {{ else }}
  <a class='btn btn-primary' onclick='record()'>{{index .localize "New"}}</a>
  {{ end }}
  <p>
</header>
<a class='text-secondary' style='padding-left: 15px'>Total: <span id='total'></span></a>
<div class='table-responsive'>
  <table class='table table-hover table-sm record'>
    <thead>
      <tr>
        {{ if ne .mode "" }}
        <th class='sortable' data-name='dept_name' style='width: 150px'>{{index .localize "Department"}}</th>
        <th class='sortable' data-name='realname' style='width: 100px'>{{index .localize "Realname"}}</th>
        {{ end }}
        <th class='sortable' data-name='date' style='width: 150px'>{{index .localize "Date"}}</th> 
        <th class='sortable' data-name='type' style='width: 80px'>{{index .localize "Type"}}</th>
        <th class='sortable' data-name='duration' style='width: 100px'>{{index .localize "Duration"}}</th>
        <th class='describe sortable' data-name='describe'>{{index .localize "Describe"}}</th>
        <th class='sortable' data-name='created' style='width: 100px'>{{index .localize "Created"}}</th>
        <th class='sortable' data-name='status' style='width: 100px'>{{index .localize "Status"}}</th>
        <th style='width: 100px'>{{index .localize "Operation"}}</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<nav><ul class='pagination justify-content-center'></ul></nav>
