<header style='padding-left: 20px;'>
  <a class='h3 title'>
    {{ if eq .id "0" }}
    {{index .localize "AddDepartment"}}
    {{ else }}
    {{index .localize "EditDepartment"}}
    {{ end }}
  </a>
  <hr>
</header>
<div class='form'>
  <div class='form-group'>
    <label for='dept'>{{index .localize "Department"}}</label>
    <input class='form-control' name='dept' id='Name' required>
  </div>
  <button class='btn btn-primary' onclick="doDept('{{ .id }}')" id='submit'>{{ if eq .id "0" }}Add{{ else }}Save{{ end }}</button>
  <button class='btn btn-primary' onclick='goback()'>{{index .localize "Cancel"}}</button>
</div>
{{ if ne .id "0" }}
<div class='form'>
  <button class='btn btn-danger delete' onclick="doDelete('dept', '{{ .id }}')">{{index .localize "Delete"}}</button>
</div>
{{ end }}
