<header style='padding-left: 20px;'>
  <div style='height: 50px;'>
    <a class='h3 title'>{{index .localize "DepartmentsList"}}</a>
  </div>
  <a class='btn btn-primary' onclick='dept()'>{{index .localize "Add"}}</a>
  <p>
</header>
<div class='table-responsive'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>{{index .localize "Department"}}</th>
        <th>{{index .localize "Operation"}}</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
