<!doctype html>
<html lang='{{index .localize "lang"}}'>

<head>
  <meta name='viewport' content='width=device-width, initial-scale=.75'>
  <title>{{index .localize "OLMS"}}</title>
  <link rel='icon' href='/static/favicon.ico'>
  {{ if .recaptcha }}
  <script src='https://www.recaptcha.net/recaptcha/api.js?render={{ .recaptcha }}'></script>
  <script>
    const sitekey = '{{ .recaptcha }}';
  </script>
  {{ end }}
  <script src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/jquery-ui-dist@1/jquery-ui.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.all.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/@wikimedia/jquery.i18n@1/src/jquery.i18n.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/@wikimedia/jquery.i18n@1.0.7/src/jquery.i18n.messagestore.min.js'></script>
  <script src='/static/i18n.js'></script>
  <script src='/static/olms.js'></script>
  <script src='/static/script.js'></script>
  <script src='/static/pagination.js'></script>
  <script src='/static/sortable.js'></script>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/spinkit@2/spinkit.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/google/material-design-icons@3/iconfont/material-icons.min.css'>
  <link rel='stylesheet' href='/static/style.css'>
  <link rel='stylesheet' href='/static/sortable.css'>
</head>

<body>
  <nav class='navbar navbar-light topbar'>
    <div class='d-flex' style='height: 100%;'>
      {{ if .user }}
      <a class='toggle'><i class='material-icons menu'>menu</i></a>
      {{ end }}
      <a class='brand full' href='/'>{{index .localize "OvertimeAndLeaveManagementSystem"}}</a>
      <a class='brand short' href='/'>{{index .localize "OLMS"}}</a>
    </div>
    <div class='navbar-nav flex-row'>
      {{ if .user }}
      <a class='nav-link'>{{ .user.Realname }}</a>
      <a class='nav-link link' onclick='setting()'>{{index .localize "Setting"}}</a>
      <a class='nav-link link' href='/auth/logout'>{{index .localize "Logout"}}</a>
      {{ else }}
      <a class='nav-link'>{{index .localize "Login"}}</a>
      {{ end }}
    </div>
  </nav>
  {{ if .user }}
  <nav class='nav flex-column navbar-light sidebar'>
    <div class='panel'>
      {{ if ne .user.ID 0 }}
      <div>
        <a class='navbar-brand'>{{index .localize "EmployeePanel"}}</a>
        <ul class='navbar-nav'>
          <li>
            <a class='nav-link {{ if ne .user.Role true }}selected{{ end }}' onclick="showRecords('')">
              {{index .localize "EmployeeRecords"}}
            </a>
          </li>
          <li><a class='nav-link' onclick="showStats('')">{{index .localize "EmployeeStatistics"}}</a></li>
        </ul>
      </div>
      {{ end }}
      {{ if eq .user.Role true }}
      <div>
        <a class='navbar-brand'>{{index .localize "DepartmentPanel"}}</a>
        <ul class='navbar-nav'>
          {{ if ne .user.ID 0 }}
          <li><a class='nav-link selected' onclick="showRecords('admin')">{{index .localize "DepartmentRecords"}}</a>
          </li>
          {{ end }}
          <li><a class='nav-link' onclick="showStats('admin')">{{index .localize "DepartmentStatistics"}}</a></li>
        </ul>
      </div>
      <div>
        <a class='navbar-brand'>{{index .localize "ControlPanel"}}</a>
        <ul class='navbar-nav'>
          <li><a class='nav-link' onclick="showEmpls('{{ .user.ID }}')">{{index .localize "ManageEmployee"}}</a></li>
          {{ if eq .user.ID 0 }}
          <li><a class='nav-link' onclick='showDepts()'>{{index .localize "ManageDepartment"}}</a></li>
          <li><a class='nav-link selected' onclick="showRecords('super')">{{index .localize "ManageRecords"}}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </nav>
  {{ if .recaptcha }}
  {{ if ne .user.Role true }}
  <script>grecaptcha.ready(() => showRecords(''))</script>
  {{ else if ne .user.ID 0 }}
  <script>grecaptcha.ready(() => showRecords('admin'))</script>
  {{ else }}
  <script>grecaptcha.ready(() => showRecords('super'))</script>
  {{ end }}
  {{ else }}
  {{ if ne .user.Role true }}
  <script>$(() => showRecords(''))</script>
  {{ else if ne .user.ID 0 }}
  <script>$(() => showRecords('admin'))</script>
  {{ else }}
  <script>$(() => showRecords('super'))</script>
  {{ end }}
  {{ end }}
  {{ end }}
  <div class='loading'>
    <div class='sk-wave sk-center'>
      <div class='sk-wave-rect'></div>
      <div class='sk-wave-rect'></div>
      <div class='sk-wave-rect'></div>
      <div class='sk-wave-rect'></div>
      <div class='sk-wave-rect'></div>
    </div>
  </div>
  <div class='content' {{ if .user }}style='padding-left: 200px;' {{ end }}>
    {{ template "content" . }}
  </div>
</body>

</html>
