[Unit]
Description=uWSGI instance to serve OLMS
After=network.target

[Service]
Environment=GIN_MODE=release
ExecStart=/var/www/olms/olms

[Install]
WantedBy=multi-user.target