<header style='padding-left: 20px;'>
  <a class='h3 title'></a>
  <hr>
</header>
<div class='form'>
  <div class='form-row'>
    <div class='form-group'>
      <label for='username'>Username</label>
      <input class='form-control' name='username' id='Username' required>
    </div>
    <div class='form-group'>
      <label for='realname'>Realname</label>
      <input class='form-control' name='realname' id='Realname'>
    </div>
  </div>
  <div class='form-group'>
    <label for='dept'>Department</label>
    <select class='form-control' name='dept' id='Dept'>
      <option disabled selected value> -- select a department -- </option>
    </select>
  </div>
  {{ if eq .user "0" }}
  <div class='form-group'>
    <label for='role'>Role</label>
    <select class='form-control' name='role' id='Role'>
      <option value='0'>General Employee</option>
      <option value='1'>Administrator</option>
    </select>
  </div>
  <script>
    $(function () {
      $('#Role').on('change', function () {
        if ($('#Role').val() == 0) {
          $('#permission-selector option:selected').prop('selected', false);
          $('#permission-selector').prop('hidden', true);
        } else {
          $('#permission-selector').prop('hidden', false);
        };
      });
    });
  </script>
  <div class='form-group' id='permission-selector' hidden>
    <label for='permission'>Permission (multiple choice)</label>
    <select multiple class='form-control' name='permission' id='Permission'></select>
  </div>
  {{ end }}
  <button class='btn btn-primary' onclick='doEmpl({{ .id }})' id='submit'>{{ if eq .id "0" }}Add{{ else }}Save{{ end }}</button>
  <button class='btn btn-primary' onclick='goback()'>Cancel</button>
</div>
{{ if ne .id "0" }}
<div class='form'>
  <button class='btn btn-danger delete' onclick="doDelete('empl', {{ .id }})">Delete</button>
</div>
{{ end }}
