<header style='padding-left: 20px;'>
  <div style='height: 50px;'>
    <a class='h3 title'>{{index .localize "EmployeesList"}}</a>
  </div>
  <div class='toolbar'>
    <div class='form-inline'>
      <div class='input-group input-group-sm'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='dept'>{{index .localize "Dept"}}</label>
        </div>
        <select class='custom-select' name='dept' id='dept'>
          <option value=''>{{index .localize "All"}}</option>
        </select>
      </div>
      {{ if eq .user "0" }}
      <div class='input-group input-group-sm'>
        <div class='input-group-prepend'>
          <label class='input-group-text' for='type'>{{index .localize "Type"}}</label>
        </div>
        <select class='custom-select' name='type' id='type'>
          <option value=''>{{index .localize "All"}}</option>
          <option value='0'>{{index .localize "GeneralEmployee"}}</option>
          <option value='1'>{{index .localize "Administrator"}}</option>
        </select>
      </div>
      {{ end }}
      <div class='input-group'>
        <a class='btn btn-primary btn-sm' id='filter' onclick="loadEmpls('{{ .user }}')">{{index .localize "Filter"}}</a>
        <a class='btn btn-primary btn-sm' onclick="showEmpls('{{ .user }}')">{{index .localize "Reset"}}</a>
      </div>
    </div>
  </div>
  <a class='btn btn-primary' onclick='empl()'>{{index .localize "Add"}}</a>
  <p>
</header>
<a class='text-secondary' style='padding-left: 15px'><span id='total'></span></a>
<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead>
      <tr>
        <th class='sortable' data-name='username'>{{index .localize "Username"}}</th>
        <th class='sortable' data-name='realname'>{{index .localize "Realname"}}</th>
        <th class='sortable' data-name='dept_name'>{{index .localize "Department"}}</th>
        {{ if eq .user "0" }}
        <th class='sortable' data-name='role'>{{index .localize "Role"}}</th>
        <th class='sortable' data-name='permission'>{{index .localize "Permission"}}</th>
        <th>{{index .localize "Operation"}}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<nav><ul class='pagination justify-content-center'></ul></nav>
