{{ define "content" }}
<header>
  <h3 class='d-flex justify-content-center align-items-center' style='height: 100%;'>{{index .localize "Login"}}</h3>
</header>
{{ if ne .error "" }}
<div class='alert alert-danger login'>{{ .error }}</div>
{{ end }}
<form class='login' id='login' method='POST'>
  <div class='form-group'>
    <label for='username'>{{index .localize "Username"}}</label>
    <input autofocus class='form-control' name='username' id='username' maxlength=20 placeholder='{{index .localize "Username"}}' required>
  </div>
  <div class='form-group'>
    <label for='password'>{{index .localize "Password"}}</label>
    <input class='form-control' type='password' name='password' id='password' maxlength=20 placeholder='{{index .localize "Password"}}' required>
  </div>
  <div class='form-group form-check'>
    <input type='checkbox' class='form-check-input' name='rememberme' id='rememberme'>
    <label class='form-check-label' for='rememberme'>{{index .localize "RememberMe"}}</label>
  </div>
  {{ if .recaptcha }}
  <input type='hidden' name='g-recaptcha-response' id='recaptcha'>
  <script>
    function executeRecaptcha() {
      grecaptcha.execute(sitekey, { action: 'login' }).then(token => $('#recaptcha').val(token));
    };
    grecaptcha.ready(() => {
      executeRecaptcha();
      setInterval(() => {
        executeRecaptcha()
      }, 100000);
    });
  </script>
  {{ end }}
  <hr>
  <input type='submit' value='{{index .localize "Login"}}' class='btn btn-primary login'>
</form>
<script>
  $(() => {
    username = localStorage.getItem('username');
    if (username != null) $('#username').val(username);
  });
</script>
{{ end }}
